# Ignore Maven and IDE specific files
target/
*.iml
.idea/
*.log
*.class
*.project
*.classpath

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Git repository files
.git/
.gitignore

# Ignore temporary files
*.swp
*.tmp
*.bak
*.old

# Ignore node_modules in case there are frontend assets within the backend project
node_modules/

# Ignore sensitive files (add only if applicable)
.env

# Ignore build and debug tools
.vscode/
*.sh

# Ignore other unnecessary files or directories
build/
